/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@media 
body {
	font-family: Roboto, sans-serif;
	margin: 0 auto;
}*/
/** {box-sizing:border-box}
*/.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
	padding: 15px;
}

.header { 
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
/*	display: flex;
	justify-content: space-between;
*/}

.logo:hover {
	transform: scale(0.7);
	transition: 2s;
}
.nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
/*	width:79%;
	/*text-align:right;*/
/*	vertical-align:top;
*/	/*height:70px;*/
 	/*padding-top:14px; */
}
.nav1:hover { 
	color: #bc8f8f;
}
.nav1 {
	text-decoration: none;
	margin-right: 40px;
	color: #2a1a2a;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.nav2:hover {
	animation: bounce 1s;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1050px;
  position: relative;
/*  margin-top: 110px;
*/  margin-left: auto;
  margin-right: auto;
   }

/* Hide the images by default */
.mySlides {
    display: none;
    border-radius: 20px;

}
.image {
    border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 12px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
